<div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mx-auto text-center">
          <h1 class="text-white"> Display players</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light p-4 rounded">
    <div class="widget-body">
      <div class="widget-vs ">
        <div
          class="d-flex align-items-center justify-content-around justify-content-between w-100 "
        >
          <div class="team-1 text-center ">
            <img src="assets/images/img_3.jpg" alt="Image" />
            
          </div>
        </div>
      </div>
    </div>

    <div class="text-center widget-vs-contents mb-4">
      <h4>{{displayedPlayer.title}}</h4>
      <p class="mb-5">
        <span class="d-block">{{displayedPlayer.date}}</span>
        
        <strong class="text-primary"> Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit. Possimus
            deserunt saepe tempora dolorem.</strong>
      </p>
    </div>
  </div>

